body {
  background-color: #d3f4ff;
}

h1 {
  text-align: center;
  font-family: serif;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-family: serif;
  font-size: 2em;
}

p {
  margin: 5px 20px 0px 20px;
  text-indent: 10px;
}

header {
  text-align: center;
  margin: 20px;
  font-family: monospace;
}

hr {
  display: block;
  margin: 2em 60px;
  border-style: dashed;
  border-width: 1px;
}

nav {
  background-color: #f2e5d5;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  display: block;
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0px;
}

.poem {
  margin: 10px auto;
  width: 450px;
  font-family: monospace;
}

.couplet {
  margin: 10px auto;
  width: 400px;
  font-family: monospace;
}

.couplet div:nth-child(2n) {
  text-indent: 8px;
}

#riddle div:nth-child(2n+1) {
  text-indent: 8px;
}

.mirror div:nth-child(2n) {
  text-indent: 8px;
}

.mirror {
  font-family: monospace;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.bottomPage {
  margin-bottom: 50px;
}
